<div class="container my-4">
  <h2>{{ 'cart.title' | translate }}</h2>

  <div *ngIf="items.length === 0" class="alert alert-info">{{ 'cart.empty' | translate }}</div>

  <ul class="list-group mb-3">
    <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let it of items">
      <div class="flex-grow-1">
        <div>
          <img [src]="it.product.image" alt="product image" class="product-img">
        </div>
        <div class="fw-bold">{{ it.product.name }}</div>
        <small class="text-muted">${{ it.product.price.toFixed(2) }}</small>
      </div>
      <div class="d-flex align-items-center gap-2">
        <div class=" border rounded p-2">
          <button class="btn btn-sm btn-outline-secondary" (click)="decrement(it.product.id)">-</button>
          <span class="badge bg-secondary rounded-pill" style="min-width: 30px;">{{ it.quantity }}</span>
          <button class="btn btn-sm btn-outline-secondary" (click)="increment(it.product.id)">+</button>
        </div>
        <button class="btn btn-sm btn-outline-danger ms-2" (click)="remove(it.product.id)">
          {{ 'cart.remove' | translate }}
        </button>
      </div>
    </li>
  </ul>

  <div class="d-flex justify-content-between align-items-center mt-3" *ngIf="items.length">
    <div class="fw-bold fs-5">{{ 'cart.total' | translate }}: ${{ total | number:'1.2-2' }}</div>
    <div class="d-flex gap-2">
      <button class="btn btn-outline-secondary" (click)="clear()">{{ 'cart.clear' | translate }}</button>
      <button class="btn btn-primary" (click)="checkout()">{{ 'cart.payNow' | translate }}</button>
    </div>
  </div>
</div>
